.header_container {
    height: 10%;
    width: 100%;
    transition: height 1s ease-in-out, opacity 1s ease-in-out;
    overflow: hidden;
}

.header_container.hidden {
    height: 0;
    opacity: 0;
    pointer-events: none;
}

.header_container.visible {
    height: 10%;
    opacity: 1;
}