:root{
    --input-border-radius: 12px;
    --input-window-radius: 16px;
    --text-hint-color: #848484;
    --stroke-color: #E1E3E6;
    --input-padding: 14px 14px 12px 20px;
}
.content-table{
    display: flex;
    padding: 20px;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid var(--stroke-color); /* Устанавливаем цвет границы */
    border-radius: var(--input-window-radius);
}
h1 {
    font-size: 24px; /* размер текста */
    font-weight: bold; /* жирное начертание */
    color: #000000; /* цвет текста (черный) */
    text-align: center; /* выравнивание по центру, если требуется */
    margin: 0; /* Убирает внешние отступы */
    font-family: "Roboto Bold", "sans-serif";

}
label{
    color: var(--text-hint-color);
    letter-spacing: -0.43px; /* Или другое значение, которое соответствует Figma */
    font-size: 12px;
    font-family: 'Roboto Regular ', sans-serif;
    line-height: 22px;
}


.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}
.room-input{
    display: flex;
    flex-direction: column;
}
input{
    background-color: #F2F3F5;
    border-radius: var(--input-border-radius);
    border: 1px solid var(--stroke-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Убирает стили браузера */
        padding: var(--input-padding);
        margin: 0;
        outline: none;
        font: inherit; /* Наследование семейства шрифтов и размеров от родителя */
        color: inherit; /* Наследование цвета текста */
        box-sizing: border-box;

}
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}